extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner DHAAN
    div.Message
      div.Title
        h3 Helping the WORLD
        h1 Zero hunger
      span.Details Access the DHAAN Portal
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in